<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="Infrastructure.Database">
                <endpoint address="net.tcp://localhost:2021/database" binding="netTcpBinding"
                    bindingConfiguration="" contract="Infrastructure.IDatabase" />
            </service>
        </services>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDatabase" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2021/database" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDatabase" contract="IDatabase"
                name="NetTcpBinding_IDatabase">
                <identity>
                    <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>