<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SNET_T1Entities"
         connectionString="metadata=res://*/SNET_T1.csdl|res://*/SNET_T1.ssdl|res://*/SNET_T1.msl;
                           provider=System.Data.SqlClient;provider connection string='
                           Data Source=DVBX\sqlexpress;
                           Initial Catalog=SNET_T1;
                           Integrated Security=True;
                           MultipleActiveResultSets=True'"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MetadataFilesPath" value="res://*/SNET_T1.csdl|
                                        res://*/SNET_T1.ssdl|
                                        res://*/SNET_T1.msl" />
    <add key="ConnectionString" value="provider = System.Data.SqlClient; 
                                       provider connection string = 'Data Source=IONUTDANILA-PC\iFilm; Initial Catalog=SNET_T1; Integrated Security=True; MultipleActiveResultSets=True'" />
  </appSettings>
</configuration>