<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="CustomerOrderLibrary.CustomerOrder">
                <clear />
                <endpoint address="net.tcp://localhost:2022/customerorder" binding="netTcpBinding"
                    contract="CustomerOrderLibrary.ICustomer" listenUriMode="Explicit" />
                <endpoint address="net.tcp://localhost:2022/customerorder" binding="netTcpBinding"
                    contract="CustomerOrderLibrary.IOrder" listenUriMode="Explicit" />
            </service>
        </services>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDatabase" />
              <binding name="NetTcpBinding_IReport" />
            </netTcpBinding>
        </bindings>
        <client />
    </system.serviceModel>
</configuration>