<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReport" />
                <binding name="NetTcpBinding_ICustomer" />
                <binding name="NetTcpBinding_IOrder" />
                <binding name="NetTcpBinding_ISubscribe" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2023/reportservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReport" contract="IReport"
                name="NetTcpBinding_IReport">
                <identity>
                    <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:2022/customerorder" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICustomer" contract="ICustomer"
                name="NetTcpBinding_ICustomer">
                <identity>
                    <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:2022/customerorder" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrder" contract="IOrder"
                name="NetTcpBinding_IOrder">
                <identity>
                    <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:2022/customerorder" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISubscribe" contract="ISubscribe"
                name="NetTcpBinding_ISubscribe">
                <identity>
                    <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>