<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:2023/reportservice" binding="netTcpBinding"
                bindingConfiguration="" contract="ReportServiceCOLibrary.IReport"
                name="" kind="" endpointConfiguration="" />
            <endpoint address="net.tcp://localhost:2021/database" binding="netTcpBinding"
                bindingConfiguration="" contract="Infrastructure.IDatabase"
                name="" kind="" endpointConfiguration="">
            </endpoint>
        </client>
        <services>
            <service name="ReportServiceCOLibrary.Report">
                <clear />
                <endpoint address="net.tcp://localhost:2023/reportservice" binding="netTcpBinding"
                    contract="ReportServiceCOLibrary.IReport" listenUriMode="Explicit" />
            </service>
        </services>
    </system.serviceModel>
</configuration>