<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDatabase" />
              <binding name="NetTcpBinding_IReport" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2021/database" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDatabase" contract="IDatabase"
                name="NetTcpBinding_IDatabase">
                <identity>
                    <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
                </identity>
            </endpoint>
          <endpoint address="net.tcp://localhost:2023/reportservice" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IReport" contract="IReport"
          name="NetTcpBinding_IReport">
          <identity>
            <userPrincipalName value="IONUTDANILA-PC\IonutDanila" />
          </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>