<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name ="CustomerOrder.CustomerOrder">
        <endpoint address="CustomerOrder" binding="basicHttpBinding" contract="CustomerOrder.ICustomer"/> 
        <endpoint address="CustomerOrder" binding="basicHttpBinding" contract="CustomerOrder.IOrder"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CustomerOrder/Service1/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ReportServiceCO.ReportService">
        <endpoint address="ReportService" binding="basicHttpBinding" contract="ReportServiceCO.IReportService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ReportServiceCO/Service1/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Subscribe.SubscribeMessage">
        <endpoint address="SubscribeMessage" binding="wsDualHttpBinding" contract="Subscribe.ISubscribe"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Subscribe/SubscribeMessage/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>