<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiskDataBase.Properties.Settings.DiskManagementConnectionString"
            connectionString="Data Source=IONUTDANILA-PC\IFILM;Initial Catalog=DiskManagement;Persist Security Info=True;User ID=SA;Password=parolamea"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>